<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>AngularJS & Firebase Web App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
   
    <link href="justified-nav.css" rel="stylesheet">
    
  </head>

  <body ng-controller="HomeCtrl">

    <div class="container">
      <div class="jumbotron" style="padding-bottom:0px;">
        <h2>AngularJS & Firebase App!</h2>
      </div>
      <form class="form-signin" role="form">
        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input ng-model="user.password"  type="password" class="form-control" placeholder="Password" required="">
		
		
		
		
		
		   <input ng-model="user.PM" ng-bind="user.PM" type="text" class="form-control" placeholder="PM name" required="" autofocus="" value={{user.PM}}>
        <input ng-model="user.TL" type="text" class="form-control" placeholder="TL name" required="">
		
		
		
		
		
		
		
		
        <label class="checkbox">
          <a href="#"> Sign Up</>
        </label>
        <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
      </form>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	   <form class="form-signin" role="form">
        <input ng-model="proj.DevNo" type="text" class="form-control" placeholder="DevNo" required="" autofocus="">
        <input ng-model="proj.TestNo"  type="text" class="form-control" placeholder="TestNo" required="">
		
				
		   <input ng-model="proj.PM" ng-bind="user.PM" type="text" class="form-control" placeholder="PM name" required="" autofocus="" value={{user.PM}}>
        <input ng-model="proj.TL" type="text" class="form-control" placeholder="TL name" required="">
		
			
		
      
        <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
      </form>
	  
	  
	  
	  
	  
	  
	  
	  
	  

	  <p>{{user.password}}</p>
	    <p>{{user.email}}</p>
		 <p>{{user.PM}}</p>
    </div>

  

</body></html>
